/* wow this is actually so nice lol */

body {
    background: darkslateblue;
    color:white;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}


/* the .<> indicates the addition of a class */
.main{
    display: block;
}

.sub{
    /* Forces all images to be blocks */
    /* now obviously we don't want all images to be like this
    so instead we use divs
    
    this is the idea of classes*/
    display: inline;
    
}

.spacy{
    margin-top: 20px;
    display: block;
    /* double auto allows for proper centering */
    margin-left: auto;
    margin-right: auto;
}
.journal_text{
    color: rgb(239, 247, 255);
    background: rgba(255, 182, 193, 0.227);
    line-height: 40px;
    padding: 10px;
    /* I see so these things can be updated later on */
    text-align: left;

    /* yay!  */
    border: 2px solid rgba(255, 0, 0, 0.363);
    /* this softens corners*/
    border-radius: 10px;
    /* margin is around the border */
    margin: 10px;

}
.follow_button{
    /* margin-top: 100px;
    margin-bottom: 100px; 
    display:block; 
    margin-left: auto; 
    margin-right: auto; */


    border: 2px solid #cfd9de;
    border-radius: 10px;
    padding: 10px;
    text-decoration: solid #0f1419;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
/* flexbox */
.menu{
    display: flex;
    justify-content: center;
}
.menu_button{
    margin: 10px;
    border: 2px solid #cfd9de;
    border-radius: 10px;
    padding: 10px;
    text-decoration: solid #0f1419;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
/* Note that tags inherit from previous tags in the 
these are the tags prperities that are inheritied;
https://stackoverflow.com/questions/5612302/which-css-properties-are-inherited*/